binder_call(android_hardware_audio_2_0_service, rild)

userdebug_or_eng(`
  allow android_hardware_audio_2_0_service diag_device:chr_file rw_file_perms;
')

# access for speaker calibration file
allow android_hardware_audio_2_0_service persist_file:dir search;
allow android_hardware_audio_2_0_service persist_audio_file:dir search;
allow android_hardware_audio_2_0_service persist_audio_file:file r_file_perms;

# allow communication w/perfd
allow android_hardware_audio_2_0_service perfd_data_file:dir search;
allow android_hardware_audio_2_0_service perfd_data_file:sock_file write;
allow android_hardware_audio_2_0_service perfd:unix_dgram_socket sendto;
allow android_hardware_audio_2_0_service perfd:unix_stream_socket connectto;

# allow reading /sys/devices/soc0/hw_platform for acdb
allow android_hardware_audio_2_0_service sysfs:file { getattr open read };
