binder_call(audioserver, rild)
# send data to camera socket
allow audioserver camera_data_file:sock_file write;
allow audioserver camera:unix_stream_socket connectto;
allow audioserver camera:unix_dgram_socket sendto;
#read/write /dev/media[0-N]
allow audioserver media_device:chr_file rw_file_perms;
#read/write /dev/msm_audio_cal
userdebug_or_eng(`
  allow audioserver diag_device:chr_file rw_file_perms;
')
#read/write /dev/v4l-subdev[0-N]
allow audioserver v41_subdev_device:chr_file rw_file_perms;

allow audioserver persist_file:dir search;
allow audioserver persist_audio_file:dir search;
allow audioserver persist_audio_file:file r_file_perms;

# allow communication w/perfd
allow audioserver perfd_data_file:dir search;
allow audioserver perfd_data_file:sock_file write;
allow audioserver perfd:unix_dgram_socket sendto;
allow audioserver perfd:unix_stream_socket connectto;
