type sysfs_surfaceflinger, fs_type, sysfs_type;

# Default type for anything under /firmware
type firmware_file, fs_type, contextmount_type;

type ssr_data_file, file_type, data_file_type;
type sysfs_msm_subsys, sysfs_type, fs_type;
type sysfs_msm_subsys_toggle, sysfs_type, fs_type;
