r_dir_file(hal_health_default, sysfs_batteryinfo)
allow hal_health_default sysfs_batteryinfo:file w_file_perms;
allow hal_health_default sysfs:file { getattr open read };
allow hal_health_default sysfs_battery:dir search;
allow hal_health_default sysfs_battery:file { getattr open read };
allow hal_health_default sysfs_battery:lnk_file read;
allow hal_health_default sysfs_thermal:dir search;
allow hal_health_default sysfs_thermal:file { getattr open read };
