allow hal_power_default debugfs_rpm:file { open read getattr };
allow hal_power_default perfd:unix_stream_socket connectto;
allow hal_power_default perfd_data_file:sock_file write;
allow hal_power_default perfd_data_file:dir search;
