type init-angler-qseecomd-sh, domain;
type init-angler-qseecomd-sh_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(init-angler-qseecomd-sh)

allow init-angler-qseecomd-sh vendor_shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-angler-qseecomd-sh vendor_toolbox_exec:file rx_file_perms;

allow init-angler-qseecomd-sh vendor_file:dir read;
