# /vendor/bin/init.radio.sh
type init-radio-sh, domain;
type init-radio-sh_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(init-radio-sh)

allow init-radio-sh vendor_shell_exec:file rx_file_perms;

allow init-radio-sh vendor_toolbox_exec:file rx_file_perms;

allow init-radio-sh vendor_file:dir read;
allow init-radio-sh radio_data_file:file open;
allow init-radio-sh radio_data_file:file { getattr write };
allow init-radio-sh radio_data_file:dir search;