allow init tmpfs:lnk_file create_file_perms;

allow init firmware_file:dir mounton;
allow init persist_file:dir mounton;
allow init userdata_block_device:blk_file { write };

allow init persist_block_device:lnk_file relabelto;
