# send data to camera socket
allow mediaserver camera_data_file:sock_file write;
allow mediaserver camera:unix_stream_socket connectto;
allow mediaserver camera:unix_dgram_socket sendto;
