type ssr_setup, domain;
type ssr_setup_exec, exec_type, file_type;
init_daemon_domain(ssr_setup);

allow ssr_setup sysfs_ssr:dir r_dir_perms;
allow ssr_setup sysfs_ssr:lnk_file rw_file_perms;
allow ssr_setup sysfs_ssr_toggle:file rw_file_perms;

permissive ssr_setup;