# Needed by hubconnection for sensor hub
allow system_server sensors_device:chr_file rw_file_perms;

allow system_server sysfs_led:dir r_dir_perms;
allow system_server sysfs_led:file rw_file_perms;

allow system_server sysfs_msm_subsys:dir r_dir_perms;
allow system_server sysfs_msm_subsys:lnk_file r_file_perms;

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to system services
# (e.g., LocationManager)
qmux_socket(system_server)

# talk to perfd
allow system_server perfd_data_file:dir search;
allow system_server perfd_data_file:sock_file write;
allow system_server perfd:unix_stream_socket connectto;

allow system_server persist_file:dir search;
allow system_server persist_file:file r_file_perms;
