# Needed by hubconnection for sensor hub
allow system_server sensors_device:chr_file rw_file_perms;

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to system services
# (e.g., LocationManager)
qmux_socket(system_server)
