#allow tee to access dir /data/system/users/0-N/fpdata and the file
allow tee fingerprintd_data_file:file rw_file_perms;
allow tee fingerprintd_data_file:dir r_dir_perms;
