on charger
    ## TODO: remove these gpio settings once we receive v4 devices
    ## set unused backup sensorhub signals to inputs to prevent contention
    write /sys/class/gpio/export 0
    write /sys/class/gpio/gpio0/direction in
    write /sys/class/gpio/export 1
    write /sys/class/gpio/gpio1/direction in
    write /sys/class/gpio/export 2
    write /sys/class/gpio/gpio2/direction in
    write /sys/class/gpio/export 3
    write /sys/class/gpio/gpio3/direction in
    write /sys/class/gpio/export 40
    write /sys/class/gpio/gpio40/direction in
    write /sys/class/gpio/export 42
    write /sys/class/gpio/gpio42/direction in
    write /sys/class/gpio/export 43
    write /sys/class/gpio/gpio43/direction in
    write /sys/class/gpio/export 44
    write /sys/class/gpio/gpio44/direction in
    write /sys/class/gpio/export 64
    write /sys/class/gpio/gpio64/direction in
    start flash-sh-fw

on post-fs
    ## TODO: remove these gpio settings once we receive v4 devices
    ## set unused backup sensorhub signals to inputs to prevent contention
    write /sys/class/gpio/export 0
    write /sys/class/gpio/gpio0/direction in
    write /sys/class/gpio/export 1
    write /sys/class/gpio/gpio1/direction in
    write /sys/class/gpio/export 2
    write /sys/class/gpio/gpio2/direction in
    write /sys/class/gpio/export 3
    write /sys/class/gpio/gpio3/direction in
    write /sys/class/gpio/export 40
    write /sys/class/gpio/gpio40/direction in
    write /sys/class/gpio/export 42
    write /sys/class/gpio/gpio42/direction in
    write /sys/class/gpio/export 43
    write /sys/class/gpio/gpio43/direction in
    write /sys/class/gpio/export 44
    write /sys/class/gpio/gpio44/direction in
    write /sys/class/gpio/export 64
    write /sys/class/gpio/gpio64/direction in
    start flash-sh-fw

service flash-sh-fw /system/bin/logwrapper /system/bin/sensortool.angler -f /vendor/firmware/nano4x1.bin
    oneshot
    disabled
