on early-boot
    chown system system /sys/class/leds/red/brightness
    chmod 664 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chmod 664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chmod 664 /sys/class/leds/blue/brightness

    chown system system /sys/class/leds/red/on_off_ms
    chmod 664 /sys/class/leds/red/on_off_ms
    chown system system /sys/class/leds/green/on_off_ms
    chmod 664 /sys/class/leds/green/on_off_ms
    chown system system /sys/class/leds/blue/on_off_ms
    chmod 664 /sys/class/leds/blue/on_off_ms

    chown system system /sys/class/leds/red/rgb_start
    chmod 664 /sys/class/leds/red/rgb_start

    chown system system /sys/devices/soc.0/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.182/leds/lcd-backlight/brightness
    chmod 664 /sys/devices/soc.0/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.182/leds/lcd-backlight/brightness
    chown system system /sys/devices/soc.0/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.182/leds/lcd-backlight/max_brightness
    chmod 664 /sys/devices/soc.0/fd900000.qcom,mdss_mdp/qcom,mdss_fb_primary.182/leds/lcd-backlight/max_brightness

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.angler
    class hal
    user system
    group system
