service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    disabled
    user root
    group root readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/system-background/tasks

# keystore is started and stopped on demand by TWRP
service keystore /sbin/keystore /tmp/misc/keystore
    disabled
    user root
    group root drmrpc readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/foreground/tasks

service keystore_auth /sbin/keystore_auth
    disabled
    oneshot
    user system
    group root
    seclabel u:r:recovery:s0

on fs
    wait /dev/block/platform/soc.0/f9824900.sdhci
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring
    start hwservicemanager
    start sbinqseecomd
    start servicemanager

